<!DOCTYPE html>
<html lang="fr">
	<%- include('composants/head') %> 
	<body>
		 <%- include('composants/entete') %>
		 <%- include('composants/form_post') %>
		 <%- include('composants/adr') %>
		 <%- include('composants/footer') %>
		 <table class="tableau">
			 <% for(elm of adresses){%>
			 
			 <tr>
			 	<% for ( p in elm ) { %>
				 <td><%= elm[p] %></td>
				 <% } %>
			 </tr>
			 <% } %>
		 </table>
	</body>
</html>